<div id="archives">
    <% if (theme.search.enable) { %>
    <div class="search-mask" style="z-index: <%= site.posts.length + 1 %>"></div>
    <input class="ipt search-bar" placeholder="搜索..." style="z-index: <%= site.posts.length + 2 %>">
    <% } %>
    <% site.posts.forEach((post, id) => { %>
    <div class="timeline" path="<%- url_for(post.path) %>" style="z-index: <%= site.posts.length - id %>">
        <div class="timeline-tail"></div>
        <div class="timeline-content">
            <div class="item-time"><%- date(post.date, "YYYY/M/D") %></div>
            <a href="<%- url_for(post.path) %>">
                <h3><%= post.title %></h3>
            </a>
            <div class="info">
                <% if (post.categories && post.categories.data.length != 0) { %>
                <span class="category">
                    <a href="<%- url_for(post.categories.data[0].path) %>">
                        <span class="icon">
                            <svg class="fa-icon"><use xlink:href="#bookmark-solid"></use></svg>
                        </span>
                        <%= post.categories.data[0].name %>
                    </a>
                </span>
                <% } %>
                <% if (post.tags && post.tags.data.length != 0) { %>
                <span class="tags">
                    <span class="icon">
                        <svg class="fa-icon"><use xlink:href="#tags-solid"></use></svg>
                    </span>
                    <% post.tags.data.forEach(data => { %>
                    <span class="tag">
                        <%
                            var color = ["color: #ffa2c4", "color: #00bcd4", "color: #03a9f4", "color: #00a596", "color: #ff7d73"];
                            var num = Math.floor(Math.random() * color.length);
                        %>
                        <a href="<%- url_for(data.path) %>" style="<%- color[num] %>">
                            <%= data.name %>
                        </a>
                    </span>
                    <% }); %>
                </span>
                <% } %>
            </div>
        </div>
    </div>
    <% }); %>
    <% if (theme.search.enable) { %>
    <script src="<%- url_for("/js/searcher.js") %>"></script>
    <script>searcher.init("<%- url_for(theme.search.path) %>");</script>
    <% } %>
</div>