<div id="card-div">
    <div class="card-style" style="width: 300px">
        <div class="avatar">
            <img src="<%- url_for(theme.avatar) %>" alt="avatar" />
        </div>
        <div class="name"><%= config.author %></div>
        <div class="description">
            <%- markdown(theme.card.description) %>
        </div>
        <% if (Object.keys(theme.card.iconLinks).length) { %>
        <div class="icon-links">
            <% Object.keys(theme.card.iconLinks).forEach(key => { %>
            <span class="icon-link">
                <a href="<%- url_for(theme.card.iconLinks[key].link) %>">
                    <i
                        class="fa-<%- theme.card.iconLinks[key].theme %> fa-<%- theme.card.iconLinks[key].name %> fa-fw"
                    ></i>
                </a>
            </span>
            <% }); %>
        </div>
        <% } %>
        <% if (Object.keys(theme.card.friendLinks).length) { %>
        <div class="friend-links">
            <% Object.keys(theme.card.friendLinks).forEach(key => { %>
            <div class="friend-link">
                <a href="<%- url_for(theme.card.friendLinks[key]) %>"><%= key %></a>
            </div>
            <% }); %>
        </div>
        <% } %>
    </div>
</div>
