<div id="archives">
    <% let posts = []; %>
    <div class="categories-tags">
        <% let prev; %>
        <% site.categories.forEach((category) => { %>
        <%
            const colors = is_category(category.name)
                ? ["linear-gradient(120deg, #9abbf7 0%, #ffbbf4 100%)"]
                : theme.colors.filter((color) => color !== prev);
            let id = Math.floor(Math.random() * colors.length);
            prev = colors[id];
        %>
        <span>
            <a href="<%- url_for(category.path) %>" style="background: <%- colors[id] %>">
                <span class="icon">
                    <i class="fa-solid fa-bookmark fa-fw"></i>
                </span>
                <%= category.name %>
            </a>
        </span>
        <% if (is_category(category.name)) { %>
        <%
            posts = category.posts;
            posts.data.sort((a, b) => b.date - a.date);
        %>
        <% } %>
        <% }); %>
    </div>
    <% posts.forEach((post) => { %>
    <div class="timeline">
        <div class="timeline-tail"></div>
        <div class="timeline-content">
            <div class="item-time"><%= date(post.date, "YYYY/M/D") %></div>
            <a href="<%- url_for(post.path) %>">
                <h3><%= post.title %></h3>
            </a>
            <div class="info">
                <% if (post.categories && post.categories.data.length !== 0) { %>
                <span class="category">
                    <a href="<%- url_for(post.categories.data[0].path) %>">
                        <span class="icon">
                            <i class="fa-solid fa-bookmark fa-fw"></i>
                        </span>
                        <%= post.categories.data[0].name %>
                    </a>
                </span>
                <% } %>
                <% if (post.tags && post.tags.data.length !== 0) { %>
                <span class="tags">
                    <span class="icon">
                        <i class="fa-solid fa-tags fa-fw"></i>
                    </span>
                    <% let prev; %>
                    <% post.tags.data.forEach((tag) => { %>
                    <span class="tag">
                        <%
                            const colors = theme.colors.filter((color) => color !== prev);
                            let id = Math.floor(Math.random() * colors.length);
                            prev = colors[id];
                        %>
                        <a href="<%- url_for(tag.path) %>" style="color: <%- colors[id] %>">
                            <%= tag.name %>
                        </a>
                    </span>
                    <% }); %>
                </span>
                <% } %>
            </div>
        </div>
    </div>
    <% }); %>
</div>
