<div class="page-current">
    <% if (page.current !== 1) { %>
    <a class="page-num" href="<%- url_for(page.prev_link) %>">
        <i class="fa-solid fa-caret-left fa-fw"></i>
    </a>
    <a class="page-num" href="<%- config.root %>">1</a>
    <span class="page-omit">...</span>
    <% } %>
    <span class="current"><%= page.current %></span>
    <% if (page.current + 1 <= page.total) { %>
    <a class="page-num" href="<%- url_for("page/" + (page.current + 1)) %>">
        <%= page.current + 1 %>
    </a>
    <% } %>
    <% if (page.current + 2 <= page.total) { %>
    <a class="page-num" href="<%- url_for("page/" + (page.current + 2)) %>">
        <%= page.current + 2 %>
    </a>
    <% } %>
    <% if (page.current + 3 <= page.total) { %>
    <span class="page-omit">...</span>
    <a class="page-num" href="<%- url_for("page/" + page.total) %>"><%= page.total %></a>
    <% } %>
    <% if (page.current !== page.total) { %>
    <a class="page-num" href="<%- url_for(page.next_link) %>">
        <i class="fa-solid fa-caret-right fa-fw"></i>
    </a>
    <% } %>
</div>
