<footer id="footer">
    <div id="footer-wrap">
        <div>
            &copy;
            <%= theme.footer.since %> - <%= date(Date.now(), "YYYY") %> <%= config.title %>
            <span id="footer-icon">
                <i class="fa-solid fa-font-awesome fa-fw"></i>
            </span>
            &commat;<%= config.author %>
        </div>
        <div>
            Based on the <a href="https://hexo.io">Hexo Engine</a> &amp;
            <a href="https://github.com/theme-particlex/hexo-theme-particlex">ParticleX Theme</a>
        </div>
        <% if (theme.footer.ICP.enable) { %>
        <div>
            备案号：
            <% if (theme.footer.ICP.link) { %>
            <a href="<%- url_for(theme.footer.ICP.link) %>"><%= theme.footer.ICP.code %></a>
            <% } else { %>
            <%= theme.footer.ICP.code %>
            <% } %>
        </div>
        <% } %>
    </div>
</footer>
