<div id="home-head" ref="head">
    <div id="home-background" style="background-image: url(<%- theme.background %>)"></div>
    <% if (theme.headBlockEnable) { %>
    <div id="home-info" @click="homeClick">
        <span class="loop"></span>
        <span class="loop"></span>
        <span class="loop"></span>
        <span class="loop"></span>
        <span class="info">
            <div class="wrap">
                <h1><%= config.title %></h1>
                <h3><%= config.subtitle %></h3>
                <h5><%= config.description %></h5>
            </div>
        </span>
    </div>
    <% } %>
</div>
<div id="home-posts-wrap" <%- theme.card.enable ? "" : 'class="home-posts-wrap-no-card"' %> ref="wrap">
    <div id="home-posts">
        <div id="posts">
            <%- partial("posts") %>
            <%- partial("current") %>
        </div>
    </div>
    <% if (theme.card.enable) { %>
    <div id="home-card">
        <%- partial("card") %>
    </div>
    <% } %>
</div>
