<div id="home-head">
    <div id="home-background"></div>
    <% if (theme.headBlockEnable) { %>
    <div id="home-info" @click="homeclick">
        <span class="loop"></span>
        <span class="loop"></span>
        <span class="loop"></span>
        <span class="loop"></span>
        <span class="info">
            <div class="wrap">
                <h1><%= config.title %></h1>
                <h3><%= config.subtitle %></h3>
                <h5><%= config.description %></h5>
            </div>
        </span>
    </div>
    <% } %>
</div>
<div id="home-posts-wrap" class="<%- theme.card.enable ? "" : "home-posts-wrap-no-card" %>">
    <div id="home-posts">
        <div id="posts">
            <%- partial("posts") %>
            <%- partial("current") %>
        </div>
    </div>
    <% if (theme.card.enable) { %>
    <div id="home-card">
        <%- partial("card") %>
    </div>
    <% } %>
</div>
<script>
  (() => {
    const imageConfig = '<%- theme.background %>'
    if (!imageConfig) {
      return
    }
    const images = imageConfig.split(',')
    const bgElement = document.getElementById('home-background')
    const val = `background-image: url("${images[(Math.random() * images.length) & 0xffff]}")`
    bgElement.setAttribute('style', val)
  })();

</script>
