<nav id="menu">
    <div class="desktop-menu">
        <a href="<%- config.root %>">
            <span class="title"><%= uppercase(config.title) %></span>
        </a>
        <% Object.keys(theme.menu).forEach(key => { %>
        <a href="<%- url_for(theme.menu[key].src) %>">
            <i class="fa-<%- theme.menu[key].theme %> fa-<%- theme.menu[key].name %> fa-fw"></i>
            <span>&ensp;<%= key %></span>
        </a>
        <% }); %>
    </div>
    <div :class="&quot;phone-menu &quot; + menushow" id="phone-menu">
        <div class="curtain" @click="menushow = !menushow" v-show="menushow"></div>
        <div class="title" @click="menushow = !menushow">
            <i class="fa-solid fa-bars fa-fw"></i>
            <span>&emsp;<%= uppercase(config.title) %></span>
        </div>
        <transition name="slide">
        <div class="items" v-show="menushow">
            <% Object.keys(theme.menu).forEach(key => { %>
            <a href="<%- url_for(theme.menu[key].src) %>">
                <div class="item">
                    <div style="min-width: 20px; max-width: 50px; width: 10%">
                        <i class="fa-<%- theme.menu[key].theme %> fa-<%- theme.menu[key].name %> fa-fw"></i>
                    </div>
                    <div style="min-width: 100px; max-width: 150%; width: 20%"><%= key %></div>
                </div>
            </a>
            <% }); %>
        </div>
        </transition>
    </div>
</nav>
