<% let current = (page.current - 1) * config.index_generator.per_page; %>
<% site.posts.slice(0 + current, config.index_generator.per_page + current).forEach(post => { %>
<div class="post">
    <a href="<%- url_for(post.path) %>">
        <h2 class="post-title"><%= titlecase(post.title) %></h2>
    </a>
    <div class="category-and-date">
        <% if (post.categories.data.length != 0) { %>
        <span class="category">
            <a href="<%- url_for(post.categories.data[0].path) %>">
                <span class="icon">
                    <svg class="fa-icon"><use xlink:href="#bookmark-solid"></use></svg>
                </span>
                <%= post.categories.data[0].name %>
            </a>
        </span>
        <% } %>
        <span class="date">
            <span class="icon">
                <svg class="fa-icon"><use xlink:href="#calendar-solid"></use></svg>
            </span>
            <%- date(post.date, "YYYY/M/D") %>
        </span>
    </div>
    <div class="excerpt">
        <div class="content" v-pre>
            <% if (typeof post.description !== "undefined") { %>
            <%- markdown(post.description) %>
            <% } else if (typeof post.excerpt !== "undefined") { %>
            <%- post.excerpt %>
            <% } else { %>
            <%- post.content %>
            <% } %>
        </div>
    </div>
    <div class="post-tags">
        <% if (post.tags.data.length != 0) { %>
        <span class="icon">
            <svg class="fa-icon"><use xlink:href="#tags-solid"></use></svg>
        </span>
        <% } %>
        <% post.tags.data.forEach(data => { %>
        <span class="tag">
            <%
                const color = ["color: #ffa2c4", "color: #00bcd4", "color: #03a9f4", "color: #00a596", "color: #ff7d73"];
                let num = Math.floor(Math.random() * color.length);
            %>
            <a href="<%- url_for(data.path) %>" style="<%- color[num] %>">
                <%= data.name %>
            </a>
        </span>
        <% }); %>
    </div>
    <a href="<%- url_for(post.path) %>" class="go-post">阅读全文</a>
</div>
<% }); %>
