<% var rootlink = config.root %> 
<div class="categories-tags">
    <% 
        var posts = [];
    %>
    <div class="all-s">
        <% site.tags.data.forEach(function(tag){ %>
        <% 
            if(theme.style == "night"){
                var color = ['background:#607d8b', 'background:#6484be', 'background:#006674','background:#016a99']
                if(is_tag(tag.name)){
                var color = ['background:#24292e']
                }
            }else if(theme.style == "maiden"){
                var color = ['background:#ffa2c4', 'background:#00bcd4', 'background:#879cff', 'background:#1bccbc', 'background:#ff7d73'];
                if(is_tag(tag.name)){
                var color = ["'background:linear-gradient(to right, #fbc2eb 0%, #bbd4ff 100%)'"]
                }
            }else{
                var color = ['background:#ffa2c4', 'background:#00bcd4', 'background:#03a9f4', 'background:#00a596', 'background:#ff7d73'];
                if(is_tag(tag.name)){
                var color = ["'background:linear-gradient(120deg, #9abbf7 0%, #ffbbf4 100%)'"]
                }
            }
            
            var num = Math.floor(Math.random()*color.length);
        %>
        <span>
            <a href="<%- rootlink %><%- tag.path %>" style=<%- color[num] %>>
                <span class="icon">
                    <svg class="fa-icon"><use xlink:href="#tags-solid"></use></svg>
                </span>
                <%- tag.name %>
            </a>
        </span>
        <% if(is_tag(tag.name)){posts = tag.posts} %>
        <% }) %>
    </div>
    <div id="archives">
        <% posts.forEach(function(post){ %>
        <div class="timeline">
            <div class="timeline-tail"></div>
            <div class="timeline-content">
                <div class="item-time"><%- date(post.date, 'YYYY/M/D') %></div>
                <a href="<%- rootlink %><%- post.path %>">
                    <h3><%= post.title %></h3>
                </a>
                <div class="info">
                    <% if(post.categories && post.categories.data.length!=0){ %>
                    <span class="category">
                        <a href="<%- rootlink %>categories/<%= post.categories.data[0].name.replace(" ", "-") %>">
                            <span class="icon">
                                <svg class="fa-icon"><use xlink:href="#bookmark-solid"></use></svg>
                            </span>
                            <%- post.categories.data[0].name %>
                        </a>
                    </span>
                    <% } %>

                    <% if(post.tags && post.tags.data.length!=0){ %>
                    <span class="tags">
                        <span class="icon">
                            <svg class="fa-icon"><use xlink:href="#tags-solid"></use></svg>
                        </span>
                        <% post.tags.data.forEach(function(data){%>
                        <span class="tag">
                            <% 
                                
                                if(theme.style == "night"){
                                    var color = ['color:#607d8b', 'color:#6484be', 'color:#006674','color:#016a99']
                                }else if(theme.style == "maiden"){
                                    var color = ['color:#ffa2c4', 'color:#00bcd4', 'color:#879cff', 'color:#1bccbc', 'color:#ff7d73'];
                                }else{
                                    var color = ['color:#ffa2c4', 'color:#00bcd4', 'color:#03a9f4', 'color:#00a596', 'color:#ff7d73'];
                                }
                                var num = Math.floor(Math.random()*color.length);
                            %>
                            <a href="<%- rootlink %>tags/<%= data.name.replace(" ", "-") %>" style=<%- color[num] %>>
                                <%- data.name %>
                            </a>
                        </span>
                        <% }) %>
                    </span>
                    <% } %>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</div>